openapi: 3.1.0
info:
  title: DropIMG API
  version: "1.0.0"
  description: >
    Temporary Drops API plus permanent Web Assets.
    DropIMG Web Assets is infrastructure for AI-built websites: JPEG, PNG,
    WebP, GIF, AVIF, sanitized SVG, ICO, WOFF, and WOFF2. It is not a blob store.
    PDFs, video, audio, archives, HTML/JS/CSS, and generic files are rejected.
    Image in, URL out. Bearer API keys required for /api/v1/images.
    Web Assets uses session cookies or project keys `dropimg_pk_*`.
    Public `/m/...` aliases provide no confidentiality. Knowledge of the URL
    is sufficient to fetch the asset.
    Anonymous REST is not available. API and MCP share one programmatic daily
    bucket: Free 20 uploads / 50 MB, Pro 100 / 500 MB. A site-wide 100 / 500 MB
    ceiling still applies across every client. Default Free API expiry is 24h.
  contact:
    name: DropIMG
    url: https://dropimg.io/contact
servers:
  - url: https://dropimg.io
security:
  - bearerAuth: []
tags:
  - name: Images
  - name: Web Assets
    description: Permanent application assets at stable `/m/...` aliases. REST paths remain `/api/v1/media`.
paths:
  /api/v1/images:
    post:
      tags: [Images]
      summary: Upload an image
      operationId: createImage
      security:
        - bearerAuth: [images:write]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                expiry:
                  type: string
                  description: 1h, 24h, 7d, 30d, 90d, or 180d. Plan allowlist still applies.
                  example: 7d
      responses:
        "201":
          description: Image stored
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Image"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "400":
          $ref: "#/components/responses/Error"
        "429":
          $ref: "#/components/responses/QuotaExceeded"
    get:
      tags: [Images]
      summary: List your images
      operationId: listImages
      security:
        - bearerAuth: [images:read]
      parameters:
        - name: cursor
          in: query
          schema:
            type: string
          description: created_at cursor from the previous page
      responses:
        "200":
          description: Page of live images
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImageList"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
  /api/v1/images/{id}:
    get:
      tags: [Images]
      summary: Get one image
      operationId: getImage
      security:
        - bearerAuth: [images:read]
      parameters:
        - $ref: "#/components/parameters/ImageId"
      responses:
        "200":
          description: Live image you own
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Image"
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
    delete:
      tags: [Images]
      summary: Delete one image
      operationId: deleteImage
      security:
        - bearerAuth: [images:delete]
      parameters:
        - $ref: "#/components/parameters/ImageId"
      responses:
        "200":
          description: Deleted or already deleted
          content:
            application/json:
              schema:
                type: object
                required: [ok]
                properties:
                  ok:
                    type: boolean
                  already_deleted:
                    type: boolean
        "404":
          $ref: "#/components/responses/NotFound"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
  /api/v1/media/orgs:
    post:
      tags: [Web Assets]
      summary: Bootstrap the signed-in user's personal organization
      operationId: bootstrapMediaOrg
      description: Requires a signed-in browser session (`dropimg_session` cookie). Not available anonymously. Project keys cannot bootstrap an org.
      security:
        - sessionCookie: []
      responses:
        "200":
          description: Personal organization
        "401":
          $ref: "#/components/responses/Unauthorized"
    get:
      tags: [Web Assets]
      summary: List organizations you can access
      operationId: listMediaOrgs
      responses:
        "200":
          description: Organizations
  /api/v1/media/orgs/{orgId}/projects:
    parameters:
      - name: orgId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [Web Assets]
      summary: List projects
      operationId: listMediaProjects
      responses:
        "200":
          description: Projects, including the public /m/{org}/{project}/ namespace URL
    post:
      tags: [Web Assets]
      summary: Create a project
      operationId: createMediaProject
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [slug]
              properties:
                slug: { type: string, example: website }
                name: { type: string, example: Website }
      responses:
        "201":
          description: Project created
  /api/v1/media/projects/{projectId}/keys:
    parameters:
      - name: projectId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [Web Assets]
      summary: List project keys (session only)
      operationId: listMediaProjectKeys
      description: Returns id, label, prefix, dates, and status. Never returns hashes or raw tokens.
      responses:
        "200":
          description: Key metadata
    post:
      tags: [Web Assets]
      summary: Create a project key
      operationId: createMediaProjectKey
      description: Raw `dropimg_pk_*` token is returned once.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [label]
              properties:
                label: { type: string }
      responses:
        "201":
          description: Key created
  /api/v1/media/projects/{projectId}/keys/{keyId}/revoke:
    post:
      tags: [Web Assets]
      summary: Revoke a project key
      operationId: revokeMediaProjectKey
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: keyId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Revoked. Authentication with that token fails immediately.
  /api/v1/media/projects/{projectId}/assets:
    parameters:
      - name: projectId
        in: path
        required: true
        schema: { type: string, format: uuid }
      - name: Idempotency-Key
        in: header
        required: false
        schema: { type: string, maxLength: 128 }
        description: >
          Scoped to org + project + operation. TTL 24h. Oversized or malformed
          keys are rejected with 400. Reusing the same key for a different
          operation returns 409.
    get:
      tags: [Web Assets]
      summary: List live assets
      operationId: listMediaAssets
      responses:
        "200":
          description: Live assets
          content:
            application/json:
              schema:
                type: object
                properties:
                  assets:
                    type: array
                    items:
                      $ref: "#/components/schemas/MediaAsset"
    post:
      tags: [Web Assets]
      summary: Upload a permanent Web Asset
      operationId: createMediaAsset
      description: >
        Server inspects bytes and sets `mime` + `assetType`. Client Content-Type
        and filename are ignored. Supported: JPEG, PNG, WebP, GIF, AVIF,
        sanitized SVG, ICO, WOFF, WOFF2. Replacement may change MIME on the same
        extensionless alias (the path is a role, not a file extension).
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file, path]
              properties:
                file: { type: string, format: binary }
                path: { type: string, example: logo }
                name: { type: string }
      responses:
        "201":
          description: Asset stored with a stable /m/... alias
          content:
            application/json:
              schema:
                type: object
                properties:
                  asset:
                    $ref: "#/components/schemas/MediaAsset"
  /api/v1/media/assets/{assetId}:
    parameters:
      - name: assetId
        in: path
        required: true
        schema: { type: string, format: uuid }
    get:
      tags: [Web Assets]
      summary: Get an asset and its versions
      operationId: getMediaAsset
      responses:
        "200":
          description: Asset plus immutable versions (`?v=` URLs)
    delete:
      tags: [Web Assets]
      summary: Soft-delete an asset
      operationId: deleteMediaAsset
      description: >
        Alias stops serving. R2 originals are removed. Storage accounting is
        reversed. Repeat delete returns 404.
      responses:
        "200":
          description: Deleted
  /api/v1/media/assets/{assetId}/versions:
    post:
      tags: [Web Assets]
      summary: Replace an asset (new immutable version, same alias)
      operationId: replaceMediaAsset
      parameters:
        - name: assetId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: Idempotency-Key
          in: header
          required: false
          schema: { type: string, maxLength: 128 }
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file: { type: string, format: binary }
      responses:
        "201":
          description: New version is current
        "409":
          description: Concurrent replace lost the alias race
  /api/v1/media/projects/{projectId}/intents:
    post:
      tags: [Web Assets]
      summary: Create a short-lived upload intent
      operationId: createMediaUploadIntent
      description: >
        Used by MCP so image bytes travel over HTTP, not JSON-RPC.
        Intents are one-use, 10 minutes, scoped to org, project, and operation.
        They do not grant direct R2 writes.
      parameters:
        - name: projectId
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [operation]
              properties:
                operation: { type: string, enum: [create, replace] }
                path: { type: string }
                assetId: { type: string, format: uuid }
                name: { type: string }
      responses:
        "201":
          description: Intent with upload URL, method, headers, and expiry
  /api/v1/media/intents/{intentId}:
    post:
      tags: [Web Assets]
      summary: Upload bytes for an intent
      operationId: executeMediaUploadIntent
      parameters:
        - name: intentId
          in: path
          required: true
          schema: { type: string, format: uuid }
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/octet-stream:
            schema: { type: string, format: binary }
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file: { type: string, format: binary }
      responses:
        "201":
          description: Asset created or replaced
        "409":
          description: Intent already used
  /m/{orgSlug}/{projectSlug}/{path}:
    get:
      tags: [Web Assets]
      summary: Public stable alias
      operationId: getMediaAlias
      description: >
        Public `/m/...` aliases provide no confidentiality. Knowledge of the URL
        is sufficient to fetch the asset. Optional `v` query selects an immutable
        version UUID. Content-Type comes from the stored version (not the path).
        SVG responses include a restrictive CSP. Fonts send CORS so @font-face
        can load the alias from another origin.
      security: []
      parameters:
        - name: orgSlug
          in: path
          required: true
          schema: { type: string }
        - name: projectSlug
          in: path
          required: true
          schema: { type: string }
        - name: path
          in: path
          required: true
          schema: { type: string }
        - name: v
          in: query
          schema: { type: string, format: uuid }
      responses:
        "200":
          description: Web Asset bytes (image, SVG, ICO, or font)
        "404":
          description: Unknown, deleted, or Web Assets disabled
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: dropimg_api_
    sessionCookie:
      type: apiKey
      in: cookie
      name: dropimg_session
      description: Signed-in browser session. Required for personal-org bootstrap.
  parameters:
    ImageId:
      name: id
      in: path
      required: true
      schema:
        type: string
        minLength: 8
        maxLength: 8
      description: 8-character slug
  schemas:
    Image:
      type: object
      required: [id, url, image_url, created_at, expires_at]
      properties:
        id:
          type: string
        url:
          type: string
          format: uri
          description: HTML share page
        image_url:
          type: string
          format: uri
          description: Direct image URL with the canonical file extension
        created_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
    ImageList:
      type: object
      required: [data, next_cursor]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/Image"
        next_cursor:
          type: string
          nullable: true
    Error:
      type: object
      required: [error, code]
      properties:
        error:
          type: string
        code:
          type: string
    MediaAsset:
      type: object
      required: [id, path, url, mime, assetType, versionId]
      properties:
        id:
          type: string
          format: uuid
        path:
          type: string
          example: branding/logo
        url:
          type: string
          format: uri
          description: >-
            Stable extensionless alias `/m/{org}/{project}/{path}`. Put this in
            application code (`<img>`, favicons, CSS, `@font-face`). Replacing
            the asset changes the bytes; this URL stays. Do not swap it for
            versionUrl just to avoid caching.
        mime:
          type: string
          enum:
            - image/png
            - image/jpeg
            - image/webp
            - image/gif
            - image/avif
            - image/svg+xml
            - image/x-icon
            - font/woff
            - font/woff2
        assetType:
          type: string
          enum: [image, vector, icon, font]
        versionId:
          type: string
          format: uuid
        versionUrl:
          type: string
          format: uri
          description: >-
            Immutable snapshot of this version (`/m/...?v={versionId}`). Use
            only for audits, reproducible builds, old deployments, or comparing
            versions. Must not be rewritten.
        size:
          type: integer
        width:
          type: integer
          nullable: true
        height:
          type: integer
          nullable: true
  responses:
    Error:
      description: Request rejected
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Unauthorized:
      description: Missing or invalid Bearer token
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Forbidden:
      description: Token is missing the required scope
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    NotFound:
      description: Unknown, expired, tombstoned, or another user's image
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    QuotaExceeded:
      description: >
        Daily quota reached. Programmatic API+MCP uses code quota_exceeded
        (Free 20/day, Pro 100/day).
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
